

<body>
  <div class="clear"></div>
    </ul>
</div><div>
 <div class="main">
    <div class="content">
    	<div class="content_top">
    	  <div class="back-links">
   	      </div>
    		<div class="clear"></div>
   	  </div>
				<div style="text-align:center;font-family:'Chiller';font-size:80px;color:#2f8a1d;border:solid #2f8a1d 19px ;background-color:#172176">
                    	<h1>Dear  </h1>Youu have been already logged on</div>
                  }			
						<img src="~/images/86a.png" alt="" width="2200" height="600" style="float:inherit" />					</>
				
				    <p><span></span></p>
				  </div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="product-desc">
			</div>
	    <div class="product-tags">
			<h2>&nbsp;</h2>
		  <div class="input-box"></div>
			<div class="button"></div>
	    </div>				
	</div>
</body>

